<form (ngSubmit)="getData()">
  <input type="search" id="nameInput" placeholder="Search Player"/>
  <select  id="teamsList">
    <option value="" selected>Select a Team</option>
  </select>
  <select id="situationList" placeholder="Select Situation"></select>
  <input type="submit" />
</form>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="players">
  <thead>
    <tr>
      <th (click)="sortBy($event)" data-index="2" id="nameHead">Name</th>
      <th (click)="sortBy($event)" data-index="3" id="teamHead">Team</th>
      <th (click)="sortBy($event)" data-index="7">TOI</th>
      <th (click)="sortBy($event)" data-index="10">On Ice xGoals%</th>
      <th (click)="sortBy($event)" data-index="11">Off Ice xGoals%</th>
      <th (click)="sortBy($event)" data-index="10!11">On/Off Ice xGoals Diff</th>
      <th (click)="sortBy($event)" data-index="85">On Ice fxGoals</th>
      <th (click)="sortBy($event)" data-index="145!115">On/Off Ice xGoals Against Difference</th>
    </tr>
  </thead>
  <tbody id="playerItems">
    <tr *ngFor="let player of players">
      <td data-index="2">{{ player.split(',')[2] }}</td>
      <td data-index="3">{{ player.split(',')[3] }}</td>
      <td data-index="7">{{ player.split(',')[7] }}</td>
      <td data-index="10">{{ player.split(',')[10] }}</td>
      <td data-index="11">{{ player.split(',')[11] }}</td>
      <td data-index="10!11">{{ RoundVal(player.split(',')[10] - player.split(',')[11])  }}</td>
      <td data-index="85">{{ player.split(',')[85] }}</td>
      <td data-index="145!115">{{ RoundVal(player.split(',')[145] - player.split(',')[115])  }}</td>
    </tr>
  </tbody>
</table>
